curso_2019_2020/curso_2019_2020/html/ejercicios camaradas/ejercicios_lenguaje_marcas/ejercicios_lenguaje_marcas/marwan_ejercicio_1_xsd/ejercicio_1-1.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="ciudad" type="xs:string"/>
<xs:element name="feacha-de-nacimiento" type="xs:date"/>
<xs:element name="hora" type="xs:time"/>
<xs:element name="nota" type="xs:decimal"/>
<xs:element name="apto" type="xs:string"/>

<ciudad>Roma</ciudad>
<fecha-de-nacimiento>1996-12-18</fecha-de-nacimiento>
<hora>18:29:45</hora>
<nota>7.5</nota>
<apto>true</apto>